/* style.css */

/* Style général du body */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #262e30;
    background-image: url('images/fondrepeat.jpg'); /* Image de fond */
    background-repeat: repeat; /* Répète l'image horizontalement et verticalement */
}

/* Conteneur des cartes */
.tarot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; /* Coins arrondis */
    flex-direction: column; /* Pour que la carte se place verticalement si besoin */
    width: 100%;
    height: 100%;
}

/* Styles pour la carte */
.carte {
    width: 240px;
    height: 400px;
    perspective: 1000px; /* Donne de la profondeur à la carte */
    border-radius: 10px; /* Coins arrondis */
    cursor: pointer; /* Change le curseur pour l'interaction */
    transition: transform 1s, box-shadow 0.3s ease-in-out; /* Animation fluide */
    margin: 0; /* Retirer toute marge */
}

.carte img {
    width: 100%;
    border-radius: 10px; /* Coins arrondis */
    height: auto;
}

.carte:hover {
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.5); /* Lueur Externe */
    transform: scale(1.05); /* Légère augmentation de taille */
}

/* Faces de la carte : avant et arrière */
.carte-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Cache la face arrière lors du retournement */
    border-radius: 10px; /* Coins arrondis */
    transition: transform 1s; /* Durée de l'animation */
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5); /* Ombre Portée */
}

/* Face recto (dos de la carte) */
.carte-recto {
    transform: rotateY(0deg);
}

/* Face verso (carte tirée) */
.carte-verso {
    transform: rotateY(180deg);
}

/* Animation de retournement lors du clic */
.carte.tournee .carte-recto {
    transform: rotateY(180deg); /* Face avant (dos) tourne */    
}

.carte.tournee .carte-verso {
    transform: rotateY(360deg); /* Face arrière (carte) tourne */
}
